html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: hsl(217, 12%, 63%)
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: url(carreteras.png);
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.cont-total {
    margin: 0 auto;
    max-width: 600px;
    background-color: hsl(216, 12%, 8%)
}

.header {
    /* position: fixed; */
    background-color: hsl(216, 12%, 8%);
    /* border: 2px solid; */
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

.container-flex {
    display: flex;
    position: fixed;
    width: 600px;
}

.header .container {
    /* border: 2px solid cyan; */
    position: relative;
    flex: 1;
}

.wave {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    color: rgb(255, 106, 0);
    /* border: 2px solid #fff; */
    background-color: rgba(255, 255, 255, 0);
}

.nav {
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* position: fixed; */
}

.container-menu {
    /* border: 1px solid yellow; */
    position: absolute;
    top: 50%;
    /* Ajusta según sea necesario */
    left: 50%;
    width: 100%;
    /* Ajusta según sea necesario */
    transform: translate(-50%, -200%);
    /* Centra el texto */
    z-index: 2;
    /* As */

}

.menu-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around
}

.enlace1 {
    color: rgb(255, 255, 255);
    background-color: hsl(216, 12%, 8%);
    border-radius: 10px;
    width: 85px;
    display: flex;
    justify-content: center;

}

.enlace1:hover {
    background-color: hsl(215, 21%, 20%);
    transform: scale(1.1);
    color: rgb(255, 106, 0);
    display: flex;
}

.enlace1:active {
    background-color: #fff;
}

.enlace2 {
    color: rgb(255, 255, 255);
    background-color: hsl(216, 12%, 8%);
    border-radius: 10px;
    width: 85px;
    display: flex;
    justify-content: center;
}

.enlace2:hover {
    background-color: hsl(215, 21%, 20%);
    transform: scale(1.1);
    color: rgb(255, 106, 0);
}

.enlace2:active {
    background-color: #fff;
}


.enlace3 {
    color: rgb(255, 255, 255);
    background-color: hsl(216, 12%, 8%);
    border-radius: 10px;
    width: 85px;
    display: flex;
    justify-content: center;
}

.enlace3:hover {
    background-color: hsl(215, 21%, 20%);
    transform: scale(1.1);
    color: rgb(255, 106, 0);
}

.enlace3:active {
    background-color: #fff;
}

.title {
    
}

.title-1 {
    /* margin-top: 110px; */
    border: 2px solid;
    display: flex;
    justify-content: center;
    background-image: cover;
    color: seashell;
}